{% extends 'plantillas/base.html' %}

{% block contenido %}
<main class="main_formulario">
    <div class="formulario_anadir">
        <h1>Tarea nueva</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Crear Tarea</button>
        </form>

        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
            <br>
        <a href="{% url 'perfil_usuario' %}">Volver</a>

        <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                new TomSelect("#id_etiqueta", {
                    create: true,  // Permite crear nuevas etiquetas
                    sortField: "text",  // Ordena las opciones
                    placeholder: "Selecciona o escribe una etiqueta...",
                });
            });
        </script>
    </div>
</main>
{% endblock %}