{% extends 'plantillas/base.html' %}

{% block contenido %}
<header>
    <nav class="nav_home">
        <ul>
            <li>Prueba</li>
            <li>Para el</li>
            <li>Nav</li>
        </ul>
        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %} 
            <button type="submit" class="">Cerrar Sesión</button>
        </form>
    </nav>
</header>

<main class="main_home">

    <h1>Perfil Usuario</h1>

    <a href="{% url 'crear_tarea' %}">Nueva tarea</a>
    <a href="{% url 'listar_tareas' %}">Listar tareas</a>

</main>
{% endblock %}