{% extends 'plantillas/base.html' %}

{% block contenido %}
    <header>
        <nav class="nav_home">
            <ul>
                <li>Acerca del proyecto</li>
                <li>Objetivo</li>
                <li>Creador</li>
            </ul>
            
            <div class="btn-container">
                <a href="{% url 'login' %}" class="btn">Iniciar Sesión</a>
                <a href="{% url 'registro' %}" class="btn">Registrarse</a>
            </div>
        </nav>
    </header>
    <main class="main_home">
        <h1>Este es el home</h1>
        <p>buenas</p>
    </main>
{% endblock %}