{% extends 'plantillas/base.html' %}

{% block contenido %}
<header>
    <nav class="nav_foro">
        <ul>
            <li>Prueba</li>
            <li>Favoritos</li>
            <li><a href="{% url 'perfil_usuario' %}">Mi perfil</a></li>
        </ul>
        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %} 
            <button type="submit" class="cerrar_sesion">Cerrar Sesión</button>
        </form>
    </nav>
</header>

<main class="main_foro">

    <h1>Foro</h1>

    <a href="{% url 'crear_tarea' %}">Nueva tarea</a>
    <a href="{% url 'listar_tareas' %}">Listar tareas</a>

</main>
{% endblock %}